/* --header: #66a55f; */

/* backgroud landingpage: #e2ffdf */

*{
    box-sizing: inherit;
}

html{
    line-height: 1.6rem;
    box-sizing: border-box;
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Patrick Hand SC', cursive;
    /* font-family: 'Roboto', sans-serif; */
    scroll-behavior: smooth;
}

.text-red{
    color: red;
}

.text-black{
    color: #000 !important;
    border-color: #000 !important;
}

.text-blod{
    font-weight: bold;
    text-decoration: underline;
}

.underline{
    position: relative;
    color: #000;
}

.underline::after{
    content: "";
    position: absolute;
    height: 5px;
    border-radius: 3px;
    width: 80%;
    background-color: #66a55f;
    bottom: -10px;
    left: 0;
}

.border-img{
    border: 1px solid #ccc;
}



.width-100{
   width: 100%;
}

.colum-0-5{
    width: 5%;
}

.colum-6-5{
    width: 65%;
}

.colum-1{
    width: 10%;
}

.colum-3-3{
    width: 30%;
}

.colum-3-5{
    width: 35%;
}

.colum-3{
    width: 33.33333%;
}

.colum-2{
    width: 20%;
}

.colum-4{
    width: 40%;
}

.colum-5{
    width: 50%;
    margin: 0 5px;
}

.colum-6{
    width: 60%;
}

.colum-8{
    width: 80%;
}

.colum-2-5{
    width: 25%;
}

.colum-7-5{
    width: 75%;
}


/* ---------------NAME---------------- */

.name{
    text-align: center;
    height: 6.5rem;
}

.name a{
    line-height: 6.5rem;
    font-size: 3.4rem;
    text-decoration: none;
    color: black;
    letter-spacing: 0.05rem;
}

.name-landing-page{
    font-size: 38px;
    height: 70px;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 11%;
}

.name-landing-page-title{
    background-color: #2c8722;
    display: inline-block;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 0 4%;
    box-shadow: 10px 0 8px #66a55f;
}

.name-landing-page h1{
    line-height: 70px;
    color: white;
    font-weight: 600;
}

/* ---policy-list--- */

.list-policy-li{
    list-style-type: decimal !important;
}

/* -----Animation------ */

@keyframes scaleNotify {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes myTransitionIn{
    0%{
        opacity: 0;
        top: 30px;
    }

    100%{
        opacity: 1;
        top: 60px;
    }
}

@keyframes transitionYDown{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* -----Button----- */
.btn{
    max-width: 200px;
    width: 180px;
    height: 50px;
    min-width: 10px;
    font-size: 15px;
    outline: none;
    border: 0.3px solid #ccc;
    border-radius: 1px;
    background-color: #66a55f;
    color: white;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
    border-radius: 3px;

}

.btn:hover{
    box-shadow: inset 200px 0 0 0 white;
    cursor: pointer;
    color: #000;
}

/* ----Name---- */

.content-name{
    text-align: center;
    margin: 30px 0;
}


.content-name h1{
    font-size: 70px;
}

.content-name h1:hover{
    color: #66a55f;
}

